a {
  color: #a41e23;
  text-decoration: underline;
}
.fsmall {
  font-size: 10px;
  font-family: Verdana, Helvetica, sans-serif;
  text-align: center;
  margin: 10px 0px 0px 0px;
}
.crumbs {
  font-size: 8pt;
  margin-bottom: 3px;
  margin-top: 0px;
  color: #FFFFFF
}
.crumbs a {
  text-decoration: underline;
  color: #FFFFFF
}
.crumbs a:visited {
  text-decoration: underline;
  color: #FFFFFF
}
.crumbs a:hover {
  color: #DDDDDD
}
.NSExample td:nth-child(1) {
  color: #808080;
}
#switchtoggles {
  display: none;
}

.Toggle {      
    width: 100%;
    max-width: 1200px;
}

.ntyoutube {
    position: relative;
}

@media screen {
  .NSExample {
    min-width: 100%;
    max-width: 100%;
  }
  #idcontent {
    padding: 0px !important;
    padding: 10px 15px 5px 10px;
    position: relative;
  }
  #highlight {
    opacity: .4;
    color: black;
  }
  #innerdiv {
    padding: 10px 12px 5px 10px !important;
    padding: 0px;
    min-height: 98%;
  
  }
  .topichead {
    padding: 5px;
  }
  .navlinks {
    font-size: 10pt;
  }
  .navlinks a {
    text-decoration: none;
    color: blue;
  }
  .navlinks a:visited {
    text-decoration: none;
    color: blue;
  }
  .navlinks a:hover {
    text-decoration: underline;
    color: blue;
  }
  html.nonscroll {
    overflow: hidden;
  }
  body.nonscroll {
    overflow: hidden;
    height: 100%;
  }
  div.nonscroll {
    overflow-x: auto;
    overflow-y: scroll;
  }
}

/* search styles */
.description {
  margin: 10px;
}
.infoline {
  display: none
}
.result_altblock {
  background-color: #fff;
  border-bottom: 2px #E6E7E6 solid;
  margin: 0px 0px 0px 0px;
  padding-top: 10px;
}
.result_block {
  background-color: #f9f9f9;
  border-bottom: 2px #E6E7E6 solid;
  margin: 0px 0px 0px 0px;
  padding-top: 10px;
}
.result_pagescount, .result_pages {
  font-size: 10pt;
  margin-left: 0px;
  text-align: left;
}
.result_title {
  margin: 10px;
}
.results {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border: #E6E7E6 2px solid;
  margin: 10px 0px;
}
.zoom_per_page {
  font-size: 8pt;
}
.searchheading {
  border: 0px;
  font-weight: bold;
  margin-left: 0px;
}
.summary {
  border: 0px;
  color: #A41E22;
  font-weight: bold;
  margin-left: 0px;
}
.zoom_button {
  background-color: #A41E22;
  border-radius: 4px;
  border: #e6e7e6 1px solid;
  color: #fff;
  padding: 8px 5px;
}
.zoom_button:hover {
  background-color: #fff;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  color: #A41E22;
  outline: none;
}
.zoom_match {
  padding-left: 0px;
  font-size: 8pt;
}
.zoom_results_per_page {
  padding-left: 0px;
  font-size: 8pt;
}
#zoom_searchbox {
  border-radius: 4px;
  border: #e6e7e6 1px solid;
  font-size: 18px;
  outline: black;
  padding: 5px;
  width: 60%;
}
#zoom_searchbox:focus {
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  outline: none;
}
span.f_ToggleHeading {
  font-size: 12pt;
  margin-left: -20px;
}
.Note, .Warning, .Tip, .Critical, .Why {
  border-width: 0px 0px 0px 3px !important;
  padding-top: 5px;
  padding-bottom: 5px;
}
img#playVideoImg{
    cursor: pointer;
}
